*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
#cuerpo{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    height: 10%;
    width: 100%;
    display: flex;
}
#header a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    width: auto;
    height: 40%;
    align-items: center;
    text-align: center;
    margin-left: 2%;
    padding-top: 0.3%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    border-radius: 10em;
}
#header a:hover{
    box-shadow: 3px 4px 20px black;
}
#home{
    width: 50%;
    margin-top: 0%;
}


#tabingreso{
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}
#tabres{
    margin-bottom: 2%;
    text-align: center;
}
#tabingreso table{
    width: 100%;
}
th , tr , td {
    border: 1px solid black;
}

th{
    background-color: rgb(70, 8, 99);
    color: white;
    
}
td{
    background-color: rgb(117, 28, 158);
}

input , select, button{
    background-color: rgb(200, 155, 221);
    color: #000;
}
